table {
    padding: 50px;
    background-color: rgb(117, 116, 116);
    color: aliceblue;
    font-weight: 500;
    border: 1px solid black;
}
th {
    color: rgb(255, 232, 29);
    padding: 10px;
}
td {
    padding: 5px;
}
.Fail {
    color: rgb(255, 113, 113);
   
}
.Pass {
    color: rgb(57, 236, 57);
}
.colorPerson {
    color: aqua;
}