.user-message {
    color: red;
}
.bot-message {
    color: green;
}
.red-text {
    color: red;
}

.null-text {
    color: red;
    
}



.output-main {
  display: flex;
  justify-content: space-between;
}
.Ques {
  color: rgb(204, 92, 0);
}
.Ques-color {
  color: crimson;
  font-weight: 800;
}
.delete-btn {
  border-radius: 40px;
  padding: 5px 10px;
  font-weight: 800;
  border: none;
  background-color: red;
  color: white;
}
.update-btn {
  border-radius: 40px;
  padding: 5px 10px;
  font-weight: 500;
  border: none;
  background-color: rgb(52, 163, 0);
  color: white;
}









.chatbot-container {
    margin: auto;
    width: 50%;
    max-width: 400px;
    background-color: rgb(165, 165, 165);
    border-radius: 20px;
  }
  
  .chatbot-messages {
    height: 500px;
    overflow-y: auto;
    border-radius: 20px;
    background-color: lightblue;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .user-message {
    text-align: right;
    background-color: #f0f0f0;
  }
  
  .bot-message {
    text-align: left;
    background-color: #e6e6e6;
  }
  
  .input-field {
   
    width: 70%;
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 20px;
    margin-right: 5px;
    border: none;
    outline: none;
    background-color: lightblue;
  }
  
  .submit-button {
    padding: 10px 10px;
    border-radius: 20px;
    border: none;
    
  }
  