/* ChatBot.css */
.container2 {
  width: 400px;
  height: 610px;
  padding: 10px;
  border: 1px solid #808080;
  border-radius: 20px;
  background-image: linear-gradient(180deg, rgb(76, 161, 231) 0%, rgb(228, 240, 71) 100% );
}
.chatbot-container {
  display: flex;
  flex-direction: column-reverse; /* Reverse the display order */
  align-items: center;
  
  width: 400px;
  height: 550px;

  overflow-y: scroll; 
}

/* scrollbar hidden but worked */
*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.chatbot-messages {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 380px;
  
}

.user-message {
  align-self: flex-end;
  background-color: #F0F0F0;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.bot-message {
  align-self: flex-start;
  background-color: #CEE6F4;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}
.input-chat {
  width: 280px;
  padding: 10px 0;
  padding-left: 20px;
  border-radius: 30px;
  border: none;
  
}
.submit-btn {
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  
}
.input-container {
  bottom: 5px;
  display: flex;
  justify-content: space-evenly;
  bottom: 5px;
}














.typing-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  background-color: #000; /* Dot color */
  width: 4px; /* Dot size */
  height: 4px;
  border-radius: 50%;
  margin: 0 4px;
  /* Animation */
  animation: jump 1.2s infinite;
}

/* Define the keyframes for the animation */
@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-10px);
  }
  66% {
    transform: translateY(10px);
  }
}

/* Set different animation delays for each dot */
.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.3s;
}

.dot:nth-child(3) {
  animation-delay: 0.6s;
}
